@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --negrito: 700;
}

body {
    background-color: #D5DDDC;
    font-family: 'Montserrat', 'Material Icons', sans-serif;
    color: #FFFFFF;
    width: 375px;
}

img {
    width: 60px;
    height: 60px;
}

.texto-negrito {
    font-weight: var(--negrito);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    height: 50px;
}

.cabecalho__menu i::before {
    content: "\eb9e";
    font-size: 24px;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 40vw;
    height: 70vh;

    position: absolute;
    left: -100vw;
    transition: .25s;

    z-index: 1;
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
}

.menu-lateral__logo {
    width: 118px;
    align-self: center;
    padding: 16px;
}

.menu-lateral__link {
    height: 64px;
    color: #95999C;
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu-lateral__link--ativo {
    color: #FFFFFF;
    padding-left: 56px;
    border-left: 8px solid #FFFFFF;
}

.menu-lateral__link::before {
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral__link--inicio::before {
    content: "\e88a";
}

.menu-lateral__link--cadastro::before {
    content: "\e8b8";
}

.menu-lateral__link--usuario::before {
    content: "\e853";
}

.menu-lateral__link--contato::before {
    content: "\e0b0";
}

.menu-lateral__link--sobre::before {
    content: "\e88e";
}

.principal__banner {
    height: 246px;
    background-color: #5F78FA;
    border-radius: 0px 0px 50px 50px;
}

.principal__resultado {
    width: 300px;
    height: 80px;
    background-color: #54D6De;
    border-radius: 10px;
    position: absolute;
    left: 37px;
    top: 271px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.principal__resultado>div>p{
    text-align: center;
    color: black;
}

.principal__botao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.principal__botao-uni {
    width: 135px;
    height: 140px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.16);
    margin-bottom: 16px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

